<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://zeon.dev/dist/css/toggle-bootstrap-dark.min.css" id="linkToCssDark">
    <link rel="stylesheet" href="https://zeon.dev/dist/css/toggle-bootstrap.min.css" id="linkToCss">
    <link rel="stylesheet" href="/style.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://zeon.dev/dist/js/bootstrap.min.js" id="linkToCssJS"></script>
    <script src="https://kit.fontawesome.com/d6353791c2.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
    <title>Lunar</title>
</head>

<body class="bootstrap-dark">
    <div id="login-screen" class="text-center" style="padding-left: 15%; padding-right: 15%; padding-top: 40vh; ">
        <img src="/assets/lunar.png" style="width: 5%; height: 5%;">
        <h1>Lunar</h1>
        <div class="card">
            <div class="card-body">
                <input type="email" autocomplete="off" id="msgName" class="form-control mt-2" placeholder="Email..." onkeyup="saveUsername()">
                <input type="password" autocomplete="off" id="msgName" class="form-control mt-2" placeholder="Password..." onkeyup="saveUsername()">
                <a class="btn btn-primary mt-2 float-right" onclick="checkUsername()">Done</a>
            </div>
        </div>
    </div>
    <div id="register-screen" class="text-center" style="padding-left: 15%; padding-right: 15%; padding-top: 40vh; ">
        <img src="/assets/lunar.png" style="width: 5%; height: 5%;">
        <h1>Lunar</h1>
        <div class="card">
            <div class="card-body">
                <input type="name" autocomplete="off" id="msgName" class="form-control mt-2" placeholder="Username..." onkeyup="saveUsername()">
                <input type="email" autocomplete="off" id="msgName" class="form-control mt-2" placeholder="Email..." onkeyup="saveUsername()">
                <input type="password" autocomplete="off" id="msgName" class="form-control mt-2" placeholder="Password..." onkeyup="saveUsername()">
                <input type="password" autocomplete="off" id="msgName" class="form-control mt-2" placeholder="Confirm Password..." onkeyup="saveUsername()">
                <a class="btn btn-primary mt-2 float-right" onclick="checkUsername()">Done</a>
            </div>
        </div>
    </div>
    <div id="chat-screen" class="container-fluid">
        <div class="row">
            <div class="col-sm col-lg-auto mt-3">
                <div class="card">
                    <div class="card-body">
                        <input type="name" autocomplete="false" id="msgNameDisplay" class="form-control mt-2" disabled placeholder="Name..." onkeyup="saveUsername()">
                        <a class="btn btn-primary mt-3" onclick="$(`#msgName`).val(``);localStorage.setItem(`name`, ``);checkUsername();">Change
                            Username</a>
                        <script>
                            var saveUsername = () => {
                                localStorage.setItem("name", `${$("#msgName").val()}`)
                                $("#msgNameDisplay").val(localStorage.getItem("name"))
                            }
                            saveUsername()
                            $("#msgName").val(localStorage.getItem("name"))
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-lg mt-3" style="height: 96vh;">
                <div class="card" style="height: 90%;">
                    <div class="card-body h-100 p-0 overflow-auto" id="scrollArea">
                        <ul id="msgList" class="list-group list-group-flush"></ul>
                    </div>
                </div>
                <div class="card mt-3 mb-3">
                    <div class="card-body h-100">
                        <form id="msgForm" class="align-bottom" action="">
                            <input type="text" id="msgInput" class="form-control" autocomplete="off">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-auto mt-3">
                <div class="card">
                    <div class="card-body">
                        <input type="text" id="filterMessages" class="form-control mb-2" placeholder="Search the conversation...">
                        <a onclick="switchTheme()" class="btn btn-primary text-light mb-2">Change Theme</a>
                        <h4 class="text-center mt-2">Plugins</h4>
                        <input type="text" id="addExtensionInput" class="mb-2 form-control" placeholder="Plugin URL">
                        <a class="btn btn-primary text-light" onclick="extensionAdd()">
                            Add
                        </a>
                        <a onclick="$('#addExtensionInput').val('/plugins/LunarEssentials/plugin.js'); extensionAdd();" class="align-right btn btn-primary">
                            LunarEssentials
                        </a>
                    </div>
                </div>
                <div id="pluginMenu">

                </div>
            </div>
        </div>
    </div>
</body>

<script src="/script.js"></script>

<div id="pluginsScriptsInserted">
</div>

</html>