<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://zeon.dev/dist/css/toggle-bootstrap-dark.min.css">
    <link rel="stylesheet" href="https://zeon.dev/dist/css/toggle-bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://zeon.dev/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Lunar</title>
</head>
<body class="bootstrap-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 mt-3">
                <div class="card">
                    <div class="card-body">
                        <input type="text" id="msgName" class="form-control mt-2" placeholder="Name...">
                    </div>
                </div>
            </div>
            <div class="col-md-8 mt-3" style="height: 96vh;">
                <div class="card" style="height: 90%;">
                    <div class="card-body h-100 p-0 overflow-auto" id="scrollArea">
                        <ul id="msgList" class="list-group list-group-flush"></ul>
                    </div>
                </div>
                <div class="card mt-3 mb-3">
                    <div class="card-body h-100">
                        <form id="msgForm" class="align-bottom" action="">
                            <input type="text" id="msgInput" class="form-control" autocomplete="off">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mt-3">
                <div class="card">
                    <p class="h4 pt-3 text-center">Features</p>
                    <div class="card-body"><a onclick="switchTheme()" class="btn btn-primary text-light">Change Theme</a></div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/script.js"></script>

</html>