<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://zeon.dev/dist/css/toggle-bootstrap-dark.min.css">
    <link rel="stylesheet" href="https://zeon.dev/dist/css/toggle-bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://zeon.dev/dist/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <title>Lunar</title>
</head>

<body class="bootstrap-dark">
    <script>
        var checkTheme = () => {
            if (sessionStorage.getItem("theme") == "dark") {
                $("body").addClass("bootstrap-dark")
            } else if (sessionStorage.getItem("theme") == "light") {
                $("body").addClass("bootstrap")
            } else {
                sessionStorage.setItem("theme", "dark")
                checkTheme()
            }
        }

        checkTheme()

        var switchTheme = () => {
            if ($("body").hasClass("bootstrap-dark") && sessionStorage.getItem("theme") == "dark") {
                sessionStorage.setItem("theme", "light")
                $("body").removeClass("bootstrap-dark").addClass("bootstrap")
            } else if ($("body").hasClass("bootstrap") && sessionStorage.getItem("theme") == "light") {
                sessionStorage.setItem("theme", "dark")
                $("body").removeClass("bootstrap").addClass("bootstrap-dark")
            } else {
                sessionStorage.setItem("theme", "dark")
                switchTheme()
            }
        }
    </script>
    <nav class="navbar navbar-expand-lg navbar-themed">
        <a class="navbar-brand" href="#">Lunar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/app">App</a>
                </li>
            </ul>
        </div>
    </nav>
    <main role="main mt-3">
        <div class="container-fluid mt-3">
            <div class="row">
                <div class="col text-center">
                    <!--<a href="/app" class="btn btn-lg btn-primary">Try the app today!</a> <span
                        class="h4 align-middle ml-2 mr-2">or</span> <a onclick="switchTheme()"
                        class="btn btn-primary btn-lg text-light">Switch Theme</a>-->
                    <h4>Oh! Hello i didn't see you there.</h4>
                    <h5>Let me show you around</h5>
                    <h4 class="mt-4">Welcome to the live chat section! Take a peek at what people are saying</h4>
                </div>
            </div>
            <div class="row mt-2 mb-3" style="height: 40vh; margin-left: 15%; margin-right: 15%;">
                <div class="col mt-3" style="height: 100%;">
                    <div class="card" style="height: 100%;">
                        <div class="card-body h-100 p-0 overflow-auto" id="scrollArea">
                            <ul id="msgList" class="list-group list-group-flush"></ul>
                        </div>
                    </div>
                </div>
                <script>
                    var socket = io('/')
                    var messages = document.querySelector("#msgList")
                    socket.on('message', (usr, msg, time) => {
                        var item = document.createElement('li')
                        item.innerText = `${usr}: ${msg}`;
                        item.classList.add("list-group-item")
                        var item2 = document.createElement("small")
                        if (new Date().getMinutes() > 9) {
                            item2.innerHTML = `${new Date().getHours()}:${new Date().getMinutes()}`
                        } else {
                            item2.innerHTML = `${new Date().getHours()}:0${new Date().getMinutes()}`
                        }
                        item2.classList.add("text-muted")
                        item2.classList.add("ml-2")
                        item.appendChild(item2)
                        messages.appendChild(item);
                        document.querySelector("#scrollArea").scrollTop = document.querySelector(
                            "#scrollArea").scrollHeight
                    });
                </script>
            </div>
            <div class="row mt-4" style="margin-left: 15%; margin-right: 15%;">
                <div class="col text-center mt-2">
                    <h4 class="text-middle">What are you waiting for <br><a href="/app"
                            class="btn btn-lg btn-primary mt-2">Try
                            the app today!</a></h4>
                </div>
            </div>
        </div>
    </main>
    <footer style="position: absolute; bottom: 0;" class="mb-1 w-100">
        <p class="text-center">&copy; Zeon 2021</p>
    </footer>
</body>

</html>