.list-group-item {
    background-color: transparent !important;
}

img.emoji {
    height: 1.5em;
    width: 1.5em;
    margin: 0 0.25em;
    vertical-align: -0.1em;
}

li.list-group-item {
    display: flex !important;
    justify-content: start !important;
}

li.list-group-item span,
li.list-group-item small {
    display: inline-flex !important;
    vertical-align: middle !important;
}

li.list-group-item small {
    line-height: 24px;
    height: 24px;
}

#messageContent {
    margin-left: 5px;
    word-wrap: anywhere;
}

textarea.msgTextarea {
    resize: none;
}